<div data-controller="scroll-top" data-scroll-top-threshold-value="320">
  <button
    type="button"
    class="scroll-top-button"
    data-action="scroll-top#scroll"
    data-scroll-top-target="button"
    aria-label="Scroll back to top"
    aria-hidden="true"
    tabindex="-1"
  >
    <span class="material-symbols-outlined" aria-hidden="true">arrow_upward</span>
  </button>
</div>
